/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e0e0e0;
    color: #333;
    margin: 0;
    padding: 0;
}

h1,span {
    color: #2c3e50;
    text-align: center;
    margin-top: 20px;
    font-size: 1.4em;
    position: relative;

}

h2 {
    text-align: center;
    color: #34495e;
    font-size: 1.3em;
    margin-bottom: 10px;
    text-shadow: 5px 10px 3px rgba(0, 0, 0, 0.1);
}

a {
    color: #2980b9;
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
}

fieldset {
    border: 2px solid #2980b9;
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 5px 10px #888888;
}

legend h1 {
    color: #2980b9;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

p{
    border-collapse: separate;
    border-spacing: 15px 50px;
}

/* ANIMATION GLITCH ENTÊTE */

.right {
    text-align: right;
    width: 100%;
}

.stack {
    display: grid;
    grid-template-columns: 1fr;
}

.stack span {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 4rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
}

.stack span:nth-child(odd) { --glitch-translate: 8px; }
.stack span:nth-child(even) { --glitch-translate: -8px; }

@keyframes glitch {
    0% {
        text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
        transform: translate(var(--glitch-translate));
    }
    2% {
        text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    4%, 100% {  text-shadow: none; transform: none; }
}