/* color palette from <https://github.com/vuejs/theme> */

/* VARS */

:root {
  --primary-bg-color: rgb(35, 38, 39);
  --primary-headers-color: #2a3a4b;
  --primary-text-color: rgb(232, 230, 227);
  --primary-link-color:rgb(160, 183, 190);
  --primary-hover-color: #aaa;
  --main-font-family: 'Arial';
  --h2-color: #a6bcce;
  --h3-color:#e8e6e3;

  --border-color: #eaeaea;
  --box-shadow-color: rgba(0,0,0,0.08);
}

/* STRUCTURE */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font-family), sans-serif;
  line-height: 1.6;
}

/* HEADER */

.header {
  position: sticky;
  top: 0;
  background-color: var(--primary-headers-color);
  color: var(--primary-text-color);
  padding: 10px 0;
  z-index: 100;
}

/* FOOTER */

footer {
  position:static;
  bottom: 0px;
  width: 100%;
  padding: 1rem 0;

  font-size: 0.8rem;
  text-align: center;
  background-color: var(--primary-headers-color);
  color: var(--primary-font-color);
}

footer ul li {
  color: white;
  list-style-type: none;
}
