@import './base.css';

#titre{
  font-size: 200%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-links a {
  font-weight: 500;
}

/* TEXTES */

p:not(.branding p):not(footer .conteneur p){
  color: var(--primary-text-color);
  margin-bottom: 1rem;
}

.contenu-intro p{
  text-align: justify;
}

h2 {
  margin-bottom: 1.5rem;
  color: var(--h2-color);
}

h3{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: var(--h3-color);
}

/* BRANDING ENTETE */

.branding h1 a {
  color: white;
}

.branding p {
  margin: 0;
  font-size: 0.9em;
  color:var(--primary-color);
}

.branding h4 {
  color:#eaeaea
}

/* SECTIONS */
section{
  text-align: center;
  margin: 0 auto;
  background-color: var(--primary-bg-color);
}

.entete{
  max-width: 20%;
  padding: 0 2rem;
}

.entete p {
  color: white;
}

/* CONTAINERS */

.contenu-intro, .conteneur, .contenu-projets, .projet-contenu-images, .contenu-competences{
  margin: 0 auto;
  padding: 0 2rem;
}

.conteneur, .contenu-projets, .projet-contenu-images, .contenu-competences{
  max-width: 72%;
}

.contenu-intro{
  width: 50%;
}

.conteneur-portrait{
  width: 50%;
}

/* INTRO, BIO & FUTURE */

.intro, .biographie ,.future{
  display: flex;
  align-items: center;
  padding: 4rem 0;
}

/* PROJETS */

.projets {
  padding: 4rem 0;
}

/* TABLEAUX */

.projet-grid, .competences-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.8rem;
  margin-top: 2rem;
}

.competences-grid{
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* --------- */

.projet-card, .projet-images, .competence-card, .erreur {
  border-radius: 15px;
  box-shadow: 0 10px 20px var(--box-shadow-color);
  padding: 1.5rem;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--border-color);
}

.projet-card p{
  text-align: center;
}

.projet-images{
  padding: 0;
  max-height: 200px;
}

.projet-images img{
  width:100%;
  height:100%;
}

.projet-card:hover, .projet-images:hover{
  transform: scale(1.04);
  box-shadow: 10px 5px 5px var(--box-shadow-color);
}

.projet-card a img:hover,  .social-link-img:hover{
  transform: scale(1.04);
}

.projet-liens a{
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  z-index: 1;
}

/* COMPETENCES */

.competences {
  padding: 4rem 0;
}

/* CONTACT */

.contact {
  padding: 4rem 0;
  text-align: center;
}

/* LINK */

a, .projet-liens a{
  color: var(--primary-link-color);
  text-decoration: none;
}

a:hover, .branding h1 a:hover{
  color: var(--primary-hover-color);
  transition:
    all 0.3s ease-out,
    color 0.3s;
}

.social-links a, .competences .conteneur p a, .entete h1 a{
  text-decoration: none;
}

/* LINK SOCIAL MEDIA*/

.social-links {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}

.social-links a {
  margin: 0 1rem;
}

.social-links div a img, .projet-liens div a img{
  max-height: 80px;
  max-height: 80px;
}

/* IMAGES */

.portrait{
  width: auto;
  height: auto;
  border-radius: 50%;
}

.contenu-intro img{
  width: 35%;
}


.projet-card a img{
  width:90px;
}

/* MEDIA QUERIES */

@media (max-width:1820px){

  #accueil, .projets-grid {
    flex-direction: column;
    grid-template-columns: 1fr;
  }

  .portrait{
    display: none;
    width: 5%;
    max-height: 2%;
  }

  .intro{
    height: 100%;
  }

  .conteneur {
    flex-direction: column !important;
    padding: 20px;
  }

  .contenu-intro {
    max-width: 98%;
  }

  .contenu-intro p{
    font-size: 1.2rem;
  }

  .contenu-intro h1, .contenu-intro h2 {
    font-size: 2.2rem;
  }

  .entete {
    max-width: 100%;
  }

  .entete h1{
    font-size: 3rem;
  }

  .entete p{
    font-size: 2.2rem;
  }

  .biographie .conteneur h2, .future .conteneur h2, .projet-card h3, .contenu-projets h2{
    font-size: 2.2rem;
  }

  .biographie .conteneur p, .future .conteneur p, footer .conteneur p, .projet-card p, .projet-card a{
    font-size: 1.6rem;
  }

  .contact .conteneur h2{
    font-size: 2.6rem;
  }

  .contact .conteneur p{
    font-size: 1.6rem;
  }

  .social-links a{
    font-size: 1.6rem;
  }
}
