@import 'base.css';

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75%;
  margin: 0 auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

/* TEXTES */

p:not(.branding p):not(footer .conteneur p) {
  color: var(--primary-text-color);
  margin-bottom: 1rem;
}

.intro-content p {
  text-align: justify;
}

h2 {
  margin-bottom: 1.5rem;
  color: var(--h2-color);
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: var(--h3-color);
}

/* BRANDING ENTETE */

.branding *,
.entete p {
  color: white;
}

/* SECTIONS */
section {
  text-align: center;
  margin: 0 auto;
}

/* CONTAINERS */

.intro-content,
.conteneur,
.projects-content,
.project-content-image,
.skills-content,
.entete {
  margin: 0 auto;
  padding: 0 2rem;
}

.conteneur,
.projects-content,
.project-content-image,
.skills-content {
  max-width: 70%;
}

.conteneur-portrait {
  position: relative;
  right: 18%;
  width: 28%;
}

.entete {
  max-width: 20%;
}

/* INTRO, BIO & FUTURE */

.intro-content {
  width: 35%;
}

.intro,
.biographie,
.future {
  display: flex;
  align-items: center;
}

.intro,
.biographie,
.future,
.projects {
  padding: 4rem 0;
}

/* TABLEAUX */

.project-grid,
.skill-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.8rem;
}

/* --------- */

.project-card,
.project-image,
.skill-card,
.error {
  align-content: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px var(--box-shadow-color);
  border: 1px solid var(--border-color);
  border-radius: 15px;
  padding: 1.5rem;
  transition: all 0.3s ease;
}

.project-card h1 {
  color: var(--h1-color);
}

.project-image {
  padding: 0;
  max-height: 200px;
}

.project-image img {
  width: 100%;
  height: 100%;
}

.project-card:hover,
.project-image:hover,
.skill-card:hover,
.project-card a img:hover,
.link-img a img:hover,
.skill-card a img:hover{
  transform: scale(1.04);
}

.project-card:hover,
.project-image:hover,
.skill-card:hover {
  box-shadow: 10px 5px 5px var(--box-shadow-color);
}

.project-links a {
  text-transform: uppercase;
}

/* SKILLS */

.contact,
.skills {
  padding: 4rem 0;
}

/* LINK */

a, .project-links a {
  color: var(--primary-link-color);
  text-decoration: none;
}

* a:hover,
.branding h1 a:hover {
  color: var(--primary-hover-color);
  transition:
    all 0.3s ease-out,
    color 0.3s;
}

.social-links a,
.skills .conteneur p a,
.entete h1 a {
  text-decoration: none;
}

/* LINK SOCIAL MEDIA*/

.social-links {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}

.social-links a {
  margin: 0 1rem;
}

.social-links div a img,
.project-links div a img {
  max-height: 80px;
}

/* IMAGES */

.portrait {
  border-radius: 50%;
  width: 40%;
}

.intro-content img {
  width: 35%;
}

.project-card a img,
.skill-card a img {
  width: 90px;
}

/* ARCHIVES */

.archives {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.fieldset-archives ul li {
  margin: 6%;
  list-style-type: none;
}

/* ERROR */

.error {
  margin: 19%;
  text-align: center;
}

.error h1 {
  color: var(--primary-text-color);
}

/* MEDIA QUERIES */

@media (max-width: 1080px) {

  #accueil,
  .projects-grid {
    flex-direction: column;
    grid-template-columns: 1fr;
  }

  .intro {
    height: 100%;
  }

  .conteneur {
    flex-direction: column !important;
    padding: 20px;
  }

  .intro-content {
    max-width: 98%;
  }

  .intro-content p {
    font-size: 1.2rem;
  }

  .intro-content h1,
  .intro-content h2 {
    font-size: 2.2rem;
  }

  .entete {
    max-width: 100%;
  }

  .entete h1 {
    font-size: 3rem;
  }

  .biographie .conteneur h2,
  .future .conteneur h2,
  .project-card h3,
  .projects-content h2,
  .entete p {
    font-size: 2.2rem;
  }

  .biographie .conteneur p,
  .future .conteneur p,
  footer .conteneur p,
  .project-card p,
  .project-card a,
  .contact .conteneur p,
  .social-links a {
    font-size: 1.6rem;
  }

  .contact .conteneur h2 {
    font-size: 2.6rem;
  }
}
