
/* VARS */

:root {
  --main-font-family: 'Arial';

  --primary-bg-color: rgb(35, 38, 39);
  --primary-headers-color: #2a3a4b;
  --primary-text-color: white /* rgb(232, 230, 227)*/;
  --primary-link-color: rgb(130, 228, 213);
  --primary-hover-color: #aaa;

  --h1-color: var(--h3-color);
  --h2-color: #a6bcce;
  --h3-color: #e8e6e3;

  --border-color: #eaeaea;
  --box-shadow-color: rgba(229, 226, 226, 0.08);
}

/* STRUCTURE */

#app {
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
  background-color: var(--primary-bg-color);
}

html {
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  box-sizing: border-box;
}

/* BODY */

body {
  font-family: var(--main-font-family), sans-serif;
  line-height: 1.6;
}

/* HEADER */

.header {
  background-color: var(--primary-headers-color);
  color: var(--primary-text-color);
  padding: 10px 0;
  z-index: 100;
}

/* FOOTER */

footer {
  display: flex;
  position: static;
  bottom: 0px;
  width: 100%;
  padding: 1rem 0;

  font-size: 0.8rem;
  text-align: center;
  background-color: var(--primary-headers-color);
  color: var(--primary-font-color);

  padding: 20px 40px;
  margin: auto;
}

.footer-text{
  width: 100%;
}

.footer-text ul li {
  color: white;
  list-style-type: none;
}

.footer-social {
  margin: auto;
  width: 100%;
  display: flex;
  gap: 8px;
}
