body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #1276d3;
}

#input {
  width: 240px;
  display: grid;
  border: 1px solid lightgrey;
  border-radius: 6px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(6, 1fr);
}

input[type="text"] {
  grid-column: span 6;
}

input.erase {
  grid-column: span 6;
}
