
/* Structure page*/

body{
    width: 100%;
    height: 100%;
    margin:auto;

    background-image: url("../images/imgBackground.jpg");
    background-repeat: no-repeat;
    background-size: 150% 120%;
}

main {
    display: flex;
    flex-direction: column;
    margin-left: 8%;

    scroll-snap-align: start none;
}

/* logo */

#logo{
    position : relative;
    top:100px;
    left:50px;

    width: 250px;
}

/* header */
header{
    display: flex;
    flex-direction: row;

    width: 42%;

    align-content: center;
    margin: auto;

    position: sticky;
    top: 1%;

}

/* menu (header) */

nav{
    display: flex;
    flex-direction: row;

    height: 30px;

    margin: auto;

    align-items: center;
    background-color: rgba(255, 255, 255, 0.91);
    border-radius: 10px;
}

nav > div
{
    position:relative;
    margin: auto auto 3px;
    border-left: 4px solid #695858;
}

nav > div > a
{
    display: flex;
    margin-left: 65px;
    margin-right: 65px;

    align-items: center;
    font-family: revert;

    color: #000be5;
}

/* menu déroulant */

.submenu
{
    display:none;
    border-left: none;

    width: 100%;

    position:absolute;
    top:100%;
    left:0%;
}

nav > div:first-child{
    border-left: none;
}

.submenu > div {

    display: flex;
    justify-content: center;

    background-color: rgb(255, 255, 255);
    font-family: Georgia, serif;
}

nav > div:hover > .submenu {
    display:block;
}

/* puce menu deroulant */

.puce {
    visibility: hidden;
}

.submenu > div:hover > .puce {
    visibility: visible;
}

/* articles */

article, fieldset{

    border-radius: 20px;

    scroll-padding-top: 20%;
    margin: 4% 4% 8%;

    background-color: rgba(7, 3, 3, 0.71);
    border:solid 10px rgba(255, 0, 0, 0.49);

    box-shadow: 20px 15px 15px #9003c9;
}

article{
    scroll-padding-top: 40px;
}

#Ancre1,#Ancre2,#Ancre3,#Ancre4{
    height: 15px;
}

#Salle1{
    width: 1500px;
    height: 750px;
}

#Salle2,#Salle3,#Salle4{
    width: 1500px;
    height: 630px;
}

.elementsArticle {
    display: flex;
}

/* section contenu */

h2 {
    text-align: center;
    font-style:italic;
    font-size: 25px;

    line-height: 130%;
    padding : 2px;

    color: crimson;
}

p, details > summary, legend{
    color: #d5d5d5;
    font-size: 24px;

}

p{
    margin: 2%;
}


h3{
    text-align: center;
    color: crimson;
}

/* Titre */

.titreprinc{
    font-size: 150px;
    font-family: 'Roboto', 'Liberation Sans Narrow', serif
}

@font-face {
    font-family: 'Roboto';
    src: url('../Backsteal-Regular.otf');
}


/* images*/

img{
    height: 30%;
    width: 45%;
    margin: 45px;
}

#Salle1 > .elementsArticle > img {
    width: 25%;
}

/* liens */

nav > div:hover > a,  a:hover{
    color:crimson;
}

a{
    font-weight: bold;
}

/* footer - contact */

.elementsContact{
    display: flex;
    flex-direction: column;
}

fieldset
{
    margin: 4%;
    width: 20%;
    border: solid 2px #fc4141;
}